/* Font */
@font-face {
  font-family: "twitter-hashtag";
  src: url("../../fonts/twitter-hashtag.eot");
  src: url("../../fonts/twitter-hashtag.eot?#iefix") format("embedded-opentype"), url("../../fonts/twitter-hashtag.ttf") format("truetype"), url("../../fonts/twitter-hashtag.svg#twitter-hashtag") format("svg"), url("../../fonts/twitter-hashtag.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Colors */
@twitter: #0084B4;
@white: #fff;
@black: #000;
@gray_font: #707070;
@gray_bg: #F9F9F9;
@border_color: rgba(0, 0, 0, 0.1); /* Font */
.font () {
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: @black;
}
//-- Special Font Icons --------------------------------------------------------------------------------------------
[class^="icon-"] {
  font-family: "twitter-hashtag";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none !important;
  speak: none;
  display: inline-block;
  text-decoration: none;
  width: 1em;
  line-height: 18px;
  -webkit-font-smoothing: antialiased;
}
//-- Mixins --------------------------------------------------------------------------------------------------------

/* Clearfix */
.clearfix() {
  zoom: 1;
  &:before {
    content: '';
    display: block;
  }
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

/* Border Radius */
.rounded(@radius:2px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

/* Min-Height */
.min-height(@val) {
  height: auto !important;
  height: @val;
  min-height: @val;
}
