@import "_global.less";
#twitter-hashtag-block {
	width: 100%;
	margin: 0;
	padding: 0;
	.font;
	a, a:link, a:visited, a:hover, a:active {
		color: @twitter;
		outline: none;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	.timeline-header {
		position: relative;
		margin-bottom: 10px;
		.summary {
			font-size: 18px;
			line-height: 18px;
			padding-right: 20px;
		}
		.icon-twitter-link {
			position: absolute;
			right: 0;
			top: 2px;
			line-heigth: 18px;
			font-size: 18px;
			b {
				display: none;
			}
		}
	}
	p {
		margin: 0;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		background-color: @gray_bg;
		&.tweets {
			border-top: 1px solid @twitter;
			border-bottom: 1px solid @twitter;
			.twitter-bird-animation {
				background-color: @gray_bg;
				background-image: url("../../img/twitter-bird-sprite.png");
				background-size: cover;
				display: block;
				height: 75px;
				width: 75px;
				margin-left: auto;
				margin-right: auto;
				-webkit-animation: 0.3s fly step-end infinite;
				-moz-animation: 0.3s fly step-end infinite;
				-o-animation: 0.3s fly step-end infinite;
				animation: 0.3s fly step-end infinite;
			}
			@-webkit-keyframes fly {
				from, to {
					background-position: 0 0;
				}
				33% {
					background-position: -250 0;
				}
				66% {
					background-position: -450px 0;
				}
			}
			@-moz-keyframes fly {
				from, to {
					background-position: 0 0;
				}
				33% {
					background-position: -250 0;
				}
				66% {
					background-position: -450px 0;
				}
			}
			@keyframes fly {
				from, to {
					background-position: 0 0;
				}
				33% {
					background-position: -250 0;
				}
				66% {
					background-position: -450px 0;
				}
			}
			.tweet {
				border-bottom: 1px solid @border_color;
				background-color: @gray_bg;
				padding: 10px 10px 2px 69px;
				.min-height(48px);
				.clearfix;
				&.last_tweet {
					border-bottom: none;
				}
			}
			.permalink {
				float: right;
				margin-top: 2px;
				position: relative;
				z-index: 50;
			}
			.header {
				position: relative;
				.tweet-user-url {
					color: @gray_font;
				}
				.tweet-user-foto {
					background: none repeat scroll 0 0 #FFFFFF;
					.rounded(4px);
					height: 48px;
					left: -57px;
					position: absolute;
					top: 0;
					width: 48px;
				}
				.tweet-user-name {
					font-weight: bold;
					color: @black;
				}
				.tweet-user-screen-name, .tweet-user-screen-name b {
					color: @gray_font;
					font-weight: normal;
				}
			}
			.retweet-credit, .retweet-credit a {
				color: @gray_font;
			}
			.twitter-hashtag-footer {
				.clearfix;
				.tweet-actions {
					.clearfix;
					margin-top: 5px;
					float: right;
					li {
						float: left;
					}
					a {
						font-size: 18px;
						line-height: 18px;
						i {
							color: @gray_font;
							margin-left: 8px;
							&:before {
								display: none;
							}
						}
						&:hover i {
							color: @twitter;
						}
						b {
							display: none;
						}
					}
				}
			}
		}
	}
	.load-more {
		background-color: rgba(0, 0, 0, 0.02);
		border: 0 none;
		box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05) inset;
		cursor: pointer;
		display: block;
		margin: 0;
		padding: 10px 0;
		text-align: center;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
		transition: background-color 0.2s ease-out 0s;
		width: 100%;
		color: @twitter;
		&:hover {
			background-color: rgba(0, 0, 0, 0.08);
			text-decoration: underline;
		}
	}
	.stream-end {
		padding: 30px 50px;
		background-color: @gray_bg;
		text-align: center;
		border-bottom: 1px solid @border_color;
		i {
			font-size: 30px;
			line-height: 30px;
			color: @gray_font;
		}
		p {
			margin-top: 5px;
			color: @gray_font;
			a {
				color: @twitter;
			}
		}
	}
}